#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;

  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(phone) {
    padding: 0rem $default-font-size;
    flex-direction: column;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-top: 0rem;
    text-align: left;
    line-height: 9rem;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.7;
      margin-top: 8rem;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
      margin-top: 10rem;
    }
  }

  .hero-cta {
    display: flex;
    margin-top: 60px;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
        margin-top: 20px;
      }
    }
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
    @media screen and (orientation: landscape) {
      .hero-img {
        display: none;
      }
    }
    @include respond(tab-port) {
      justify-content: bottom;
    }
    @include respond(phone) {
      width: 250px;
    }

    @include respond(phone-xs) {
      display: none;
    }
  }

  .hero-img {
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
